
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category1" class="category">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Nicholas Cage
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category2" class="category">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Michelle is Awesome!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category3" class="category">
                        <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category4" class="category">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category5" class="category">
                        <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category6" class="category">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category7" class="category">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category8" class="category">
                        <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/city/<%=@current_city.name%>/category9" class="category">
                        <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                        <div class="category-caption">
                            <div class="category-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
