<ul>
  <a href="/city/<%=@current_city.name%>/category1"><li>category1</li></a>
  <a href="/city/<%=@current_city.name%>/category2"><li>category2</li></a>
  <a href="/city/<%=@current_city.name%>/category3"><li>category3</li></a>
  <a href="/city/<%=@current_city.name%>/category4"><li>category4</li></a>
  <a href="/city/<%=@current_city.name%>/category5"><li>category5</li></a>
  <a href="/city/<%=@current_city.name%>/category6"><li>category6</li></a>
  <a href="/city/<%=@current_city.name%>/category7"><li>category7</li></a>
  <a href="/city/<%=@current_city.name%>/category8"><li>category8</li></a>
  <a href="/city/<%=@current_city.name%>/category9"><li>category9</li></a>
</ul>
