<% if @spot && @spot.errors.any? %>
  <div class="error-msg">
    <i class="fa fa-times-circle"></i>
    <ul id="error-list">
      <% @spot.errors.full_messages.each do |spot_error| %>
        <li class="list-group-item"><%= spot_error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="fullscreen_bg" class="fullscreen_bg"/>
<div class="container">
  <div class="row" id ="row-new-spot">
    <div class="col-md-6">
      <div id="map"></div>
      <div id="floating-panel-new">
        <input id="address" type="textbox" value="Your spot here!">
        <input id="submit" type="button" value="Please enter a location">
      </div>
    </div>
    <div class="col-md-6" id="form-new-spot">
      <form class ="form-group row" method="post" action="/city/<%=@current_city.name%>/new" enctype="multipart/form-data">
      <h1 class="form-signin-heading">Add a Spot</h1>
        <div class="row">
           <label class="form-signin-heading text-muted">Name:</label>
           <input class="form-control" type="text" name="title" placeholder="Name" >
        </div>
        <div class="row">
           <label class="form-signin-heading text-muted">Description:</label>
           <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="row">
            <label for="sel1" class="form-signin-heading text-muted">Select a Category:</label>
            <select class="form-control" id="sel1" name="category_selection">
              <option value="<%= Category.all[0].id %>"><%= Category.all[0].name %></option>
              <option value="<%= Category.all[1].id %>"><%= Category.all[1].name %></option>
              <option value="<%= Category.all[2].id %>"><%= Category.all[2].name %></option>
              <option value="<%= Category.all[0].id %>"><%= Category.all[3].name %></option>
              <option value="<%= Category.all[1].id %>"><%= Category.all[4].name %></option>
              <option value="<%= Category.all[2].id %>"><%= Category.all[5].name %></option>
              <option value="<%= Category.all[0].id %>"><%= Category.all[6].name %></option>
              <option value="<%= Category.all[1].id %>"><%= Category.all[7].name %></option>
            </select>
        </div>
        <div class="row">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file">Upload Image</label>
        </div>
        <div class="row">
          <div class="input-group" data-toggle="buttons">
              <label class="btn">
              <input type="checkbox" autocomplete="off" name="vibe_one" value = "<%=Vibe.all[0].id%>"><%= Vibe.all[0].label %></label>
              <label class="btn">
              <input type="checkbox" autocomplete="off" name="vibe_two" value = "<%=Vibe.all[1].id%>"><%= Vibe.all[1].label %></label>
              <label class="btn">
              <input type="checkbox" autocomplete="off" name="vibe_three" value = "<%=Vibe.all[2].id%>"><%= Vibe.all[2].label %></label>
              <label class="btn">
              <input type="checkbox" autocomplete="off" name="vibe_three" value = "<%=Vibe.all[2].id%>"><%= Vibe.all[3].label %></label>
              <label class="btn">
              <input type="checkbox" autocomplete="off" name="vibe_three" value = "<%=Vibe.all[2].id%>"><%= Vibe.all[4].label %></label>
          </div>
        </div>
        <div class="row" id = "form-group-row">
          <div class="input-group">
            <button type="submit" class="btn btn-md btn-primary btn-block">Create Spot</button>
          </div>
        </div>
        <div class="row">
          <div class="result_lat"><input id="latitude" type="hidden" name="lat"></div>
          <div class="result_long"><input id="longitude" type="hidden" name="long"></div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: {lat: 56.1304, lng: -106.3468}
    });
    var geocoder = new google.maps.Geocoder();

    document.getElementById('submit').addEventListener('click', function() {
      geocodeAddress(geocoder, map);
    });
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
        var long = marker.position.lng();
        var lat = marker.position.lat();
        $('#latitude').val(lat);
        $('#longitude').val(long);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxGn34Xr4JBNIC0xYNaK_I4G8_dc4cIMo&callback=initMap">
</script>
